.appHeader {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 1rem;
}

.navLinks a {
  font-size: 1.2rem;
  padding: 1rem;
  transition: 0.3s;
}
.navLinks a:hover, .navLinks a:focus {
  color: rgb(255, 221, 0);
  cursor: pointer;
}

.fadeIn {
  -webkit-animation: fadeIn 3s;
          animation: fadeIn 3s;
}

@-webkit-keyframes fadeIn {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.appMain {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.topMain {
  display: flex;
  height: 10vh;
  margin-top: 1rem;
  width: 100%;
}

.searchSection {
  height: 70px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-end;
  margin: 0 auto;
}
.searchSection legend {
  font-size: 1rem;
  margin-bottom: 10px;
}
.searchSection select {
  font-size: 1rem;
  height: 50px;
  width: 300px;
  border: 1px solid gray;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  color: rgb(8, 8, 43);
}
.searchSection input {
  display: flex;
  align-items: flex-end;
  font-size: 1rem;
  height: 45px;
  width: 300px;
  margin-bottom: 0;
  border: 1px solid gray;
  border-radius: 2px;
  cursor: pointer;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upcomingEvents {
  height: 5vh;
}

.eventsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2.5rem 0.5rem;
  margin-top: 5rem;
}

.eventCard {
  width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.073);
  box-shadow: 2px 2px 2px 2px rgba(226, 150, 8, 0.079);
  transition: 0.2s;
}
.eventCard:hover, .eventCard:focus {
  transform: scale(1.05);
}
.eventCard .city {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  line-height: 1.5rem;
  padding: 0.5rem;
  margin: 0;
}
.eventCard .date {
  display: flex;
  justify-content: flex-end;
  align-items: start;
  font-weight: bold;
  padding: 0.5rem;
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  line-height: 1.4rem;
  margin: 0;
  color: white;
  background-color: hsla(39deg, 90%, 45%, 0.914);
}
.eventCard .eventImg {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 0;
  background-color: hsla(39deg, 90%, 45%, 0.914);
}
.eventCard .attractionName {
  background-color: hsla(39deg, 90%, 45%, 0.914);
  display: flex;
  align-items: center;
  min-height: 100px;
  margin-top: 0;
  font-size: 1rem;
}
.eventCard .moreInfo {
  font-size: clamp(1rem, 1.5vw, 1.1rem);
  display: flex;
  text-decoration: underline;
  padding: 0 0.5rem 0.2rem;
}
.eventCard .moreInfo:hover, .eventCard .moreInfo:focus {
  color: hsla(39deg, 90%, 45%, 0.914);
}

.appFooter {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid hsla(43deg, 74%, 49%, 0.644);
}

a {
  font-weight: bold;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../../Fonts/Bebas_Neue/BebasNeue-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../../Fonts/PT_Sans/PTSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../../../Fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: normal;
}
html {
  font-size: 125%;
}

h1 {
  font-family: "Bebas Neue";
  font-size: clamp(1.6rem, 4vw, 2.5rem);
  color: rgb(255, 221, 0);
  text-transform: uppercase;
  letter-spacing: 0.2cm;
  margin: 0.5rem;
}

h2 {
  font-family: "PT Sans";
  font-size: clamp(1.6rem, 3vw, 2rem);
  color: white;
}

p,
a {
  font-family: "Source Sans Pro";
  font-size: 1rem;
  transition: 0.3s;
}

a:hover, a:focus {
  color: rgb(255, 221, 0);
  cursor: pointer;
}

body {
  background-color: rgb(8, 8, 43);
  color: whitesmoke;
}

html {
  font-size: 125%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}/*# sourceMappingURL=styles.css.map */