@use "./_variables.scss" as *;

.appHeader {
  max-width: 1440px;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-top: 1rem;
}


.navLinks{
    a{
      font-size:  1.2rem;
      padding: 1rem;
      transition: 0.3s ;
      &:hover,
      &:focus {
        color: $yellow;
        cursor: pointer;
      }
    }
}

.fadeIn {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  10% { opacity: 0; }
  100% { opacity: 1; }
}
